.bootstrap {
  padding-top: 120px;
  text-align: center;
  
}

.containerCard {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.cardBody {
  gap: 15px;
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  border: none;
  outline: none;
  box-shadow: 5px 5px 15px #000;

}