.like-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}
.likbtn {
  width: 20px;
  align-items: center;
  color: red;
  margin: 5px;
}
.like-button {
  border: none; 
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  border: 2px solid #333;
}
.like-button:hover {
  color: #fff;
  background-color: #333;
}
.like-button.liked {
  color: #ff69b4;
  border-color: #ff69b4;
  border-radius: 15px;
  box-shadow: 1px 1px 15px pink;
}
/* For mobile screens */
@media (max-width: 768px) {
  .like-button-container {
     flex-direction: column;
  }
  .like-button {
     font-size: 16px;
     margin-bottom: 10px;
     padding: 8px 16px;
     border-width: 1px;
  }
}

.otherbtn button {
  width: 20%;
  padding: 10px;
  background-color: #000;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
  margin: 10px;
  box-shadow: 1px 1px 15px #fff;

}

.otherbtn button:hover {
  border: 1px solid orange;
}