.scroll-section-3 {
  background-color: red;
  color: #000;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll-section-4 {
  background-color: #000;
  color: #fff;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 5px 90px 5px 90px;
}
.scroll-section-5 {
  background-color: #1d1af7;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 5px 90px 5px 90px;
}